﻿* {
    outline: none;
    color: white;
	text-align: center;
	text-decoration: none;
    box-sizing: border-box;
    font-family: Myriad Pro, Open Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.player-panel {
	display: inline-block;
	position: absolute;
	width: 30vw;
	height: 60vh;
	top: 20vh;
	left: 37vw;
	overflow-y: hidden;
	background-color: Black;
}

.player-heading {
	display: inline-block;
	height: 3vh;
}

.heading-left {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
	line-height: 3vh;
	width: 28vw;
}

.heading-right {
	display: inline-block;
}

.heading-right img {
	margin-top: 0.5vh;
	height: 2vh;
}

.player-fields {
	height: 4vh;
	font-weight: bolder;
	border-bottom: 1px black solid;
}

.player-fields div {
		text-align: center;
		color:black;
		line-height: 4vh;
		background-color: aquamarine;
		box-shadow: rgba(128, 128, 128,0.4) 3px 3px inset;
}

.player-id,
.player-ping {
	display: inline-block;
	color: black;
	width: 4.2vw;
	background-color: aquamarine;
	box-shadow: rgba(128, 128, 128,0.4) 3px 3px inset;
}

.player-name {
	display: inline-block;
	color: black;
	width: 20vw;
	background-color: aquamarine;
	box-shadow: rgba(128, 128, 128,0.4) 3px 3px inset;
}

.player-container {
	padding: 5px;
	height: 57vh;
	overflow-y: auto !important;
	background-color: white;
	-moz-box-shadow: inset 0 0 20px #000000;
	-webkit-box-shadow: inset 0 0 20px #000000;
	box-shadow: inset 0 0 20px #000000;
}

	.player-container > div {
		height: 4vh;
		padding: 5px 0px;
		background-color: aquamarine;
	}