/* Copyright © 2019 by CommanderDonkey */
/* Read README.md for using */

body {
    display: none;
}

.bar1 {
    background: #2c2c2c;
    position: absolute;
    padding: 0.15vw;
    color: #fff;
    width: 8vw;
    height: 1vw;
    transform: skew(20deg);
    border-radius: 0.1vw;
    bottom: 3vw;
    left: 90%;
}

.fa-gas-pump {
    transform: skew(-20deg);
}

.fa-tachometer-alt {
    transform: skew(20deg);
}

.fas {
    font-size: 1vw;
    margin-left: 0.25vw;
}

.line1 {
    transform: skew(-20deg);
    position: absolute;
    background: #fff;
    width: 6vw;
    height: 0.4vw;
    top: 0.55vw;
    border-radius: 5vw;
    left: 2vw;
}

.inline1 {
    background: #fab812;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5vw;
}

.bar2 {
    background: #2c2c2c;
    position: absolute;
    padding: 0.15vw;
    color: #fff;
    width: 8vw;
    height: 1vw;
    transform: skew(-20deg);
    border-radius: 0.1vw;
    bottom: 1.4vw;
    left: 90%;
}

.kmh {
    transform: skew(20deg);
    position: absolute;
    right: 1.25vw;
    font-family: 'Open Sans';
    font-size: 0.75vw;
    top: 0.2vw;
    font-weight: 600;
    letter-spacing: -0.01vw;
}